Options -Indexes

AddType application/manifest+json .webmanifest

<FilesMatch "^config.*\.php$">
  Require all denied
</FilesMatch>

<FilesMatch "\.(sql|json|log|env|bak|backup)$">
  Require all denied
</FilesMatch>
